{
    "API_KEY": "lorem",
    "disableYellowBox": true,
    "show_redux_logs": true,
    "debug_requests": false,
    "ignoreWarnings": ["Remote debugger"],
    "API_DOMAIN": "https://api.dlsmotors.com.py/api",
    "API_MIDDLEWARE_DOMAIN": "https://gestion.dlsmotors.com.py/api_mobile",
    "GOOGLE_MAP_API_KEY": ""
}