{
  "API_KEY": "lorem",
  "disableYellowBox": true,
  "show_redux_logs": true,
  "debug_requests": false,
  "ignoreWarnings": ["Remote debugger"],
  "api_domain": "https://nutrivic.com.py",
  "api_slug": "api"
}
